<div class="mdl-layout__drawer mdl-layout--small-screen-only">
	<span class="mdl-layout__title">{{config.site.title}}</span>
	<nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
		{% include "partials/navigation_items.html.twig" %}
	</nav>
</div>

