{# example Image 250x190 #}
{% set card_image = include('partials/card_image.html.twig',{image_width:250, image_height:190}) %}

<div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
		<div class="mdl-card__media">
				<img class="article-image" src="{{card_image}}" border="0" alt="">
		</div>
		<div class="mdl-card__title">
				<h2 class="mdl-card__title-text">{{page.title}}</h2>
		</div>
		<div class="mdl-card__supporting-text mdl-card--expand">
				{{page.summary|striptags}}
		</div>
		<div class="mdl-card__actions mdl-card--border">
				<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{{page.url}}">Read more</a>
		</div>
</div>