{# Check for Parameter class and style, else set default#}
{% if not class is defined and not style is defined %}
    {% set class="mdl-button--primary" %}
    {% set style = "" %}
{% endif %}


{# Get Social Button Items #}
{% if theme.social.buttons is defined %}
    {% for btn in theme.social.buttons %}
{# Output Button #}
        <a class="mdl-button mdl-js-button mdl-js-ripple-effect portfolio-social-button {{class}}" style="{{style}}" href="{{btn.url}}" target="_blank">
             {{btn.icon}}
        </a>
    {% endfor %}
{% endif %}
{#  mdl-js-ripple-effect mdl-button--raised  mdl-button--colored #}